<mat-card>
    <mat-card-title>
        Deletar produto
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome do produto" [(ngModel)]="product.name" name="name" disabled="true">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price" disabled="true">
        </mat-form-field>
    </form>

    <button class="btn-action v-middle" mat-button color="warn" mat-raised-button (click)="deleteProduct()">
        <i class="material-icons">
            delete
        </i>
        Excluir
    </button>    
    <button class="btn-action v-middle" mat-raised-button (click)="cancel()">
        <i class="material-icons">
            cancel
        </i>
        Cancelar
    </button>
</mat-card>