.side-nav {
    background-color: #3F51B5;
    width: 200px;    
}

.side-nav a {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 700;
}

.side-nav i {
    padding-right: 0.6rem;
}

.content {
    padding: 1rem;
    background-color: #FFF;
}